body {
    /* Задаем фон для нашей страницы в виде обычного изображения.
    Это нужно на случай, есть браузер не смог воспроизвести видео из-за того,
    что он не поддерживает тег video. */
    background: fixed url(images/video_bg.jpg) no-repeat;
    background-size: cover;
}
 
#video_bg {
    /* Делаем так, чтобы видеофон занимал фиксированное положение. */
    position: fixed;
    top: 0;
    left: 0;
    /* Располагаем наш фон под всем содержимым на странице.
    Для этого используем отрицательный z-index. */
    z-index: -1000;
    /* Растягиваем видео так, чтобы не было видно черных полос и
    чтобы независимо от разрешения экрана видеофон занимал все рабочее пространство. */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
